{% block content %}

<h2> <i>{{ movie.title }}</i> (Movie #{{ movie.id }}) </h2>
<hr>

<p>
  Release Year: {{ movie.release_year }}<br>
  IMDb Ranking: {% if imdb_rank %} {{ imdb_rank }}<br> {% endif %}
                {% if not imdb_rank %} This movie was not in IMDb's top 250<br> {% endif %}
  <a href='http://www.imdb.com/find?q= + {{ movie.title }} + '&s=all''>{{ movie.title }}</a> on IMDb
</p>

<form action='/delete_movies' method='GET'>
  <input type='submit' value='Clear Search History'>
</form>

{% endblock %}

{% extends 'base.html' %}
