{% block content %}

<h3>My Games</h3>
{% if games %}
  {% for game in games %}
  <form action="/play_game/{{ game.id }}" method='GET'>
    <li><a href='/display_game/{{ game.id }}'>{{ game }}</a> <input type='submit' value='Contine'></li>
  </form>
  {% endfor %}
{% endif %}

{% if new_game %}
  <p>There are currently no games to display.</p>
  <br><a href='/play_game/{{ new_game.id }}'>New Game</a>
{% endif %}

<br><a href='/top_scores'>Top Scores</a>

{% endblock %}

{% extends 'base.html' %}
